.updateBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.65;
  background-color: black;
  z-index: 100;
}

.updateContent {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translateX(-50%);
  padding: 50px;
  // background-color: rgb(198, 185, 239);
  background-color: white;
  border-radius: 10px;
  z-index: 999;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 1.5rem;

    input {
      font-size: 2rem;
      padding: 5px;
      outline: none;
      background-color: transparent;
      border: 1px solid lightgray;
      &::placeholder {
        color: gray;
      }
    }

    label {
      font-size: 2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    button {
      align-self: center;
      border: none;
      padding: 10px;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      cursor: pointer;
      background-color: rgb(133, 93, 173);
      width: 50%;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rebeccapurple;
      }
    }
  }
  .closeBtn {
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}
